<div class="container">
  <h1>Role Management</h1>
  <button class="btn btn-primary" (click)="addRole()">Add Role</button>
  <table class="table table-striped mt-3">
    <thead class="thead-dark">
    <tr>
      <th>Role Name</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let role of roles">
      <td>{{ role.rolename }}</td>
      <td>
        <button class="btn btn-info" (click)="openPermissionsDialog(role)">Permissions</button>
        <button class="btn btn-danger" (click)="deleteRole(role.id)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
